.container{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 100px auto 100px;
    grid-row-gap: 20px;
    grid-template-areas: 
    ". header ."
    ". signup-form ."
    ". footer ."
    ;
    color: white;
    /* background-color: white; */
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */
.signup-form{
    grid-area: signup-form;
    padding: 10%;
    background-image: url("drink4.jpeg");
    color: black;
    /* opacity: 0.8; */
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Set a style for all buttons */
button {
    background-color: purple;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: red;
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* ****************************************
*  Title: How To Create a Sign Up Form
*  Author: W3 Schools
*  Date: 2017
*  Availability: http://www.w3schools.com/howto/howto_css_signup_form.asp   */

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
.form-holder{
    opacity: 0.8;
    background: whitesmoke;
}
