.container{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 100px auto 100px;
    grid-row-gap: 20px;
    grid-template-areas: 
    ". header ."
    ". contact ."
    ". footer ."
    ;
    color: white;
}

.contact{
    grid-area: contact;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    grid-template-areas: 
    ". img ."
    ". details ."
    ". contact-form ."
    ;
    /* background-color: whitesmoke; */
}

.img{
    grid-area: img;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". data .";
    background-image: url("/static/images/phone.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.content{
    grid-area: data;
    background-color: whitesmoke;
    opacity: 0.8;
    color: black;
    text-align: center;
    padding-top: 100px;
}
.details{
    grid-area: details;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
    "corporate-office direct-contact departments";
}
.contact-form{
    grid-area: contact-form;
    /* border-radius: 5px; */
    /* background-color: whitesmoke; */
    /* color: white; */
    padding: 20px;
}

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(22, 113, 233);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.corporate-office{
    grid-area: corporate-office;
}
.direct-contact{
    grid-area: direct-contact;
}
.departments{
    grid-area: departments;
}
