.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "impactmsg"
    "products"
    "promotion"
    "comment"
    "footer"
    ;
    color: white;
}
.container div:nth-child(n){
    background-color: blueviolet;
}
.header{
    grid-area: header;
}
.products{
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "services"
    "ordering"
    ;
}
.products div:nth-child(even){
    background-color: blue;
}
.impactmsg{
    grid-area: impactmsg;
    background-image: url("/static/images/photo4.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.promotion{
    grid-area: promotion;
    background-image: url("/static/images/photo1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.comment{
    grid-area: comment;
    background-image: url("/static/images/photo2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer{
    grid-area: footer;
}
.services{
    grid-area: services;
    background-image: url("/static/images/drink1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ordering{
    grid-area: ordering;
    background-image: url("/static/images/photo3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width: 736px){
    .container{
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: 1fr 400px 200px 300px 200px 1fr;
        grid-template-areas: 
        ". header ."
        ". impactmsg ."
        ". products ."
        ". promotion ."
        ". comment ."
        ". footer ."
        ;
        color: white;
    }
    .products{
        grid-area: products;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "services ordering";
    }
}
h1{
    text-align:center;
    margin-top: 100px;
    font-size: 4vw;
    font-family: 'Vollkorn SC', serif
}
h2{
    text-align:left;
    font-size: 3vw;
    font-family: 'Vollkorn SC', serif;
}