.container{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 100px auto 750px 100px;
    grid-row-gap: 20px;
    grid-template-areas: 
    ". header ."
    ". content ."
    ". mosaic ."
    ". footer ."
    ;
    color: white;
}
.content{
    grid-area: content;
}
.mosaic{
    grid-area: mosaic;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    color: red;
}
.pic1{
    background-image: url("/static/images/photo5.jpeg");
}
.pic2{
    background-image: url("/static/images/photo10.jpeg");
}
.pic3{
    background-image: url("/static/images/drink4.jpeg");
    grid-row-end: span 2;
}
.pic4{
    background-image: url("/static/images/drink1.jpeg");
    grid-column: 1 / 3;
}
