<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Delicious Burger</title>
</head>
<body>
    <div class="container">
        <div class="header">
                <ul class="topnav">
                    <!-- <li><a><img class="logo" src="/static/images/logo.png"></a></li> -->
                    <li><a class="active" href="../index.html">Delicious Burger</a></li>
                    <li><a href="/templates/products.html">Products</a></li>
                    <li><a href="#">Promotion</a></li>
                    <li><a href="/templates/branches.html">Branches</a></li>
                    <li><a href="/templates/about.html">About</a></li>
                    <li><a href="/templates/contact.html">Contact Us</a></li>
                </ul>
        </div>
        <div class="history">
            <div class="content">
                <p>
                    <u>Our Mission</u><br>
                    To be the best fast food Restaurant in the UAE<br>
                    <u>About Us</u><br>
                    Delicious burger is a fast food restaurant that provides all kinds of product such as beef and chicken burgers, fries, drinks and desserts. 
                    It has a several branches around UAE. 
                    It has 24 hours for delivery to any places inside UAE.<br>
                    <u>Terms and Conditions</u><br>
                    We accept cash payments only.
                    Orders less that 25Dhs will not be deliverered<br>
                    You can <a href="#">Contact us</a> for more details.
                </p>
            </div>
        </div>
        <div class="footer">
            <p>Copyright&#169;2017 Delicious Burgers<br>
                <a href="#">Contact us</a> for the Best Burgers in the UAE
            </p>
        </div>
    </div>
</body>
</html>