<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Delicious Burgers</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="topnav">
                <!-- <li><a><img class="logo" src="/static/images/logo.png"></a></li> -->
                <li><a class="active" href="../index.html">Delicious Burger</a></li>
                <li><a href="/templates/products.html">Products</a></li>
                <li><a href="/templates/promotion.html">Promotion</a></li>
                <li><a href="/templates/branches.html">Branches</a></li>
                <li><a href="/templates/about.html">About</a></li>
                <li><a href="/templates/contact.html">Contact Us</a></li>
                <li><a href="/templates/signup.html">Signup</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="img">
                <div class="content">
                    <p>We do our very best to provide nothing but the best for our clients<br>
                    Contact us Now! for enquiries and clarifications, or send us your feedback.
                    </p>
                </div>
            </div>
            <div class="details">
                <div class="corporate-office">
                    <h2>corporate-office</h2>
                    12839409. Abu Dhabi mall<br>
                    Food court, Box-123 
                    Abu-Dhabi
                </div>
                <div class="direct-contact">
                    <h2>direct-contact</h2>
                    Phone: +971 34345455454<br>
                    Toll Free +971 1244343545<br>
                    Email: deliciousburger@burger.com
                </div>
                <div class="departments">
                    <h2>departments</h2>
                    dubaiintairport@burger.com 
                    abudabiintairport@burger.com 
                    sharjah@burger.com 
                    alain@burger.com 
                    hatta@burger.com 
                    allisaili@burger.com 
                    umquwain@burger.com 
                    aldhaid@burger.com 
                    korfakan@burger.com 
                    minajebel@burger.com
                    </div>
            </div>
            <div class="contact-form">
                <p>Send us your feedback</p>
                    <form>
                        <label for="name">Name</label>
                        <input type="text" name="Name" placeholder="Tell us your name name..">
                        <label for="email">Email</label>
                        <input type="text" name="Email" placeholder="Your email..">
                    
                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject" placeholder="Your feedback.." style="height:200px"></textarea>
                        <input type="submit" value="Submit">
                      </form>
            </div>
        </div>
        <div class="footer">
            <p>Copyright&#169;2017 Delicious Burgers<br>
                <a href="#">Contact us</a> for the Best Burgers in the UAE
            </p>
        </div>
    </div>
</body>
</html>