<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Delicious Burger</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="topnav">
                <!-- <li><a><img class="logo" src="/static/images/logo.png"></a></li> -->
                <li><a class="active" href="../index.html">Delicious Burger</a></li>
                <li><a href="/templates/products.html">Products</a></li>
                <li><a href="/templates/promotion.html">Promotion</a></li>
                <li><a href="/templates/branches.html">Branches</a></li>
                <li><a href="/templates/about.html">About</a></li>
                <li><a href="/templates/contact.html">Contact Us</a></li>
                <li><a href="/templates/signup.html">Signup</a></li>
            </ul>
        </div>
        <div class="signup-form bg-img">
            <h2>Join us today and get the best treats in your mail box</h2><br>
            <div class="form-holder">
            <form>
                  <label><b>Email</b></label>
                  <input type="text" placeholder="Enter your Email" name="email" required>

                  <label><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="pass" required>
              
                  <label><b>Confirm Password</b></label>
                  <input type="password" placeholder="Confirm Password" name="pass-repeat" required>
                  <input type="checkbox" checked="checked"> Remember me
                  <p>By creating an account you agree to our <a href="/templates/about.html">Terms & Privacy</a>.</p>
              
                  <div class="clearfix">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <button type="submit" class="signupbtn">Sign Up</button>
                  </div>
              </form>
              </div>
        </div>
        <div class="footer">
            <p>Copyright&#169;2017 Delicious Burgers<br>
                <a href="/templates/contact.html">Contact us</a> for the Best Burgers in the UAE
            </p>
        </div>
    </div>
</body>
</html>